<h1>Create a Restaurant</h1>
<% if @restaurant.errors.any? %>
  <section id='errors'>
    <h2><%= pluralize(@restaurant.errors.count, 'error') %> prohibited this restaurant from being saved:</h2>
    <ul>
      <% @restaurant.errors.full_messages.each do |messages| %>
        <li> <%= messages %> </li>
      <% end %>
    </ul>
  </section>
<% end %>
<%= form_for @restaurant do |f| %>
Name: <%= f.text_field :name %>
Description: <%= f.text_field :description %>
<%= f.submit :submit %>
<% end %>
